.fret, .nut {
  opacity: 25%;
}

.string {
  opacity: 50%;
}

.fret, .nut, .string, .marker, .hilite {
  stroke: CanvasText;
  /*
  stroke: var(--bs-primary);
  */
}

.fret {
  stroke-width: 6;
}

.nut {
  stroke-width: 10;
}

.inlay {
  fill: CanvasText;
  /*
  fill: var(--bs-primary);
  */
  opacity: 10%;
}

.marker, .hilite {
  stroke-width: 1;
}

.marker {
  fill: Canvas;
  /*
  fill-opacity: 0;
  */
  /* visibility: hidden; */
}

.hilite {
  fill: var(--bs-primary) !important;
}

input#bpm {
  width: 6em;
  text-align: right;
}