.fret, .nut, .inlay {
  opacity: 15%;
}

.fret, .nut, .string {
  stroke: var(--bs-secondary);
}

.inlay {
  fill: var(--bs-secondary);
}

.mark, .hilite {
  stroke: var(--bs-primary);
  stroke-width: 1;
}

.mark {
  fill: var(--bs-body-bg);
  visibility: hidden;
}

.hilite {
  fill: var(--bs-primary) !important;
}

input#bpm {
  width: 6em;
  text-align: right;
}
