.fretboard {
  width: 100%;
  height: auto;
}

.fret, .nut {
  opacity: 25%;
}

.string {
  opacity: 50%;
}

.fret, .nut, .string, .marker circle, .hilite {
  stroke: CanvasText;
  /*
  stroke: var(--bs-primary);
  */
}

.fret {
  stroke-width: 6;
}

.nut {
  stroke-width: 10;
}

.inlay {
  fill: CanvasText;
  /*
  fill: var(--bs-primary);
  */
  opacity: 10%;
}

.marker circle {
  fill: Canvas;
  stroke-width: 1;
  /* visibility: hidden; */
}

.marker text {
  dominant-baseline: central;
  text-anchor: middle;
  stroke: none;
}

.hilite {
  fill: var(--bs-primary) !important;
}

.note-c { background-color: rgb(255 0 0 / 40%); }
.note-d { background-color: rgb(255 128 0 / 40%); }
.note-e { background-color: rgb(255 255 0 / 40%); }
.note-f { background-color: rgb(0 255 0 / 40%); }
.note-g { background-color: rgb(0 255 255 / 40%); }
.note-a { background-color: rgb(0 128 255 / 40%); }
.note-b { background-color: rgb(255 0 255 / 40%); }